$base-color: #fff;
@import url("https://fonts.googleapis.com/css?family=B612:400,700&display=swap");
$breakpoint-phone: 678px;

.App {
  width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "B612", sans-serif;
  display: flex;
  flex-direction: column;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.heading {
  text-align: left;
  position: absolute;
  top: 0;
  left: 10;
}


@media (max-width: $breakpoint-phone) {
  .heading{
    font-size: 1.4em;
    display: block;
    position: relative;
    text-align: center;
  }
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-color: #1387d9;
}
