

.footer{
    text-align: center;
    font-size: 1.4em;
    font-family: sans-serif;
    color: #b1b5b9;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    margin-bottom: 1.5em;

}