@import "../../sass/variables.scss";

.nav {
  display: flex;
  justify-content: flex-end;
  height: 4em;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;

  & .link {
    text-decoration: none;
  }

  & .link,
  i {
    color: #b1b5b9;
    font-size: 1.15em;
  }

  & :hover {
    color: #fff;
  }
}

.link {
  &:hover > i {
    color: #fff;
  }
}
