@import "../../sass/variables.scss";

.data-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation-name: reveal;
  animation-duration: 2s;

  .circle {
    margin: 20px;
    color: #fff;
    border: 2.5px solid #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    animation: reveal;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .caption {
    font-size: 1.5em;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .value {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    text-align: center;
  }

  .probability {
    margin-top: 5px;
    color: darken($link-basic-color, 25%);
  }

  @media screen and (max-width: $lg_min) {
    flex-flow: column nowrap;

    .circle {
      height: 150px;
      width: 150px;
    }

    .value {
      font-size: 1em;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
    }

    // 25% {
    //   opacity: 0.25;
    // }
    // 50% {
    //   opacity: 0.5;
    // }
    // 70% {
    //   opacity: 0.7;
    // }

    // 80% {
    //   opacity: 0.8;
    // }

    // 90% {
    //   opacity: 0.9;
    // }

    100% {
      opacity: 1;
    }
  }
}
