.scanner {
  height: 2px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  animation: processing 5s infinite;

  @keyframes processing {
    0% {
      top: 0%;
    }

    50% {
      top: 99%;
    }

    100% {
      top: 0%;
    }
  }
}

.image-analyzed {
  width: 350px;
  height: auto;
  filter: grayscale(100%);
  animation: appear 2s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
