$sm_min: 577px;
$md_min: 769px;
$lg_min: 993px;
$xl_min: 1201px;

$base-color: #272b30;
$secondary-color: #3f444a;

$btn-success-color: #6dc86d;
$btn-action-color: #f99c17;
$link-basic-color: #ffffffe3;
